<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png">
        <link rel="manifest" href="./img/site.webmanifest">
        <link rel="mask-icon" href="./img/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include('partials/head')%>
    </head>
    <body>
        <%- include('partials/navigation')%>
        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center" >
            <section>
              <h1 display-1>About Us</h1>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea minima neque magnam eius ipsum ducimus velit quam laudantium, vero necessitatibus quos maxime alias. Cupiditate sapiente aut non suscipit natus officiis recusandae accusantium earum aliquam assumenda, veniam repellat soluta quisquam vel dolore! Magni veritatis laudantium eaque, doloremque voluptates iste nulla excepturi quos sapiente facilis consequatur ipsa consectetur fugit ipsam. Incidunt, nobis quisquam. Accusantium delectus ex laborum vero libero. Facere quaerat veniam optio error modi. Quae reiciendis sit, voluptatum asperiores rerum, neque iusto distinctio consequatur architecto labore, dolorum tempora quis sint obcaecati numquam harum pariatur enim necessitatibus fuga voluptates vitae. Nisi ullam facilis natus rerum temporibus reiciendis ab necessitatibus optio, facere reprehenderit earum iure ducimus enim sequi consequatur maiores quas laborum excepturi incidunt quasi! Iste consequuntur voluptatibus provident, molestias, architecto assumenda tenetur saepe sit enim officia repudiandae repellendus eos facere! Ab officiis facere molestiae itaque quo! Eveniet, suscipit. Optio, maiores eius alias error adipisci reiciendis! Animi beatae dolorem perferendis impedit.

              </p>
            </section>
       </main>
        <%- include('partials/footer')%>
        <script src=""></script>
    </body>
</html>