<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png">
        <link rel="manifest" href="./img/site.webmanifest">
        <link rel="mask-icon" href="./img/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include('partials/head')%>
    </head>
    <body>
        <!--align-items-center justify-content-center -->
        <%- include('partials/navigation')%>

        <main class="vh-100 container mt-500 text-center d-flex " >
            
            <section class="service">
                <br>
                <br>
              <h1 display-1> <strong>Ecosistema Digital Comercial</strong></h1>
              <hr>
              <br>
              <p class="  bg-dark bg-opacity-75 rounded pt-10 pb-10" id="service">
                
                ¿Qué es un Ecosistema Digital Comercial?<br>

                Un ecositema digital comercial es un conjunto de herramientas(Canales) que permite la comercialización de productos y/o servicios  que generan una plataforma de venta online.
                
                

              </p>
              <p class="bg-dark bg-opacity-75 rounded pt-10 pb-10" id="service">
                
                ¿Beneficios de tener Ecosistema Digital Comercial?<br>

               La tecnología nos a permitido beneficiarnos de alguna forma, nos a dado la oportunidad de escoger lo que consumimos y con quien lo hacemos.<br>
               Entonces, ¿qué beneficios obtenemos?<br>

               <ol class=" list-group-numbered  list-group-item-dark bg-dark bg-opacity-75 rounded pt-10 pb-10" id="service">
                <li class="list-group-item">Creamos valor a los posibles clientes por el simple hecho de estar en linea.</li>
                <li class="list-group-item">Mayor alcance en tus campañas de marketing.</li>
                <li class="list-group-item">Identidad como organismo comercial.</li>
                <li class="list-group-item">Automatización de tus sistemas de venta.</li>
                <li class="list-group-item">Conocimiento de tus prospectos con la interacción (feedback).</li>
                <li class="list-group-item">Probable incremento de ingresos.</li>
                <li class="list-group-item">Si te encuentras en un commodity esta es la forma de despegarte de tu competencia.</li>
              </ol>

               
                
                

              </p>
              <button type="button" class="btn btn-dark  text-white" data-bs-toggle="modal" data-bs-target="#sitioweb">
                Sitio Web
              </button>
              
              <!-- Modal -->
              <div class="modal fade bg-dark bg-opacity-75 rounded pt-10 pb-10" id="sitioweb" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog ">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Sitio Web / Canal Uno</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-dark bg-opacity-75 rounded pt-10 pb-10">

                        <div class="card bg-dark bg-opacity-75  rounded pt-10 pb-10" style="width:29rem;">
                            <img src="/img/modal1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Sitio Web</h5>
                              <hr>
                              <p class="card-text">La principal función de tener un sitio web es el de ser tu carta de presentación, ante los posibles personas que esten buscando tus productos y/o servicios.</p>
                            </div>
                            <ul class="list-group list-group-flush ">
                              <li class="list-group-item bg-dark bg-opacity-75"><a href="https://drive.google.com/file/d/1EKK_uCwttfHGBQJpFVbPI8khY_zAqmZp/view?usp=sharing" class="card-link" target="_blank">Descarga el Paquete</a></li>
                              <!--<li class="list-group-item bg-dark bg-opacity-75">A second item</li>
                              <li class="list-group-item bg-dark bg-opacity-75">A third item</li>-->
                            </ul>
                            <div class="card-body">
                              <a href="https://youtu.be/6o0OTUGrwOM" class="card-link" target="_blank">Verlo en Youtube</a>
                              <a href="https://docs.google.com/forms/d/1T5AcNSXRStpbYwswtv7oYjFa6riDPjbw7tLaIoYUKtE/edit" class="card-link" target="_blank">Encuesta</a>
                            </div>
                          </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-dark">Gracias por contactarnos</button>
                    </div>
                  </div>
                </div>
              </div>


              <button type="button" class="btn btn-dark  text-white" data-bs-toggle="modal" data-bs-target="#blogcms">
                Blog (CMS)
              </button>
              
              <!-- Modal -->
              <div class="modal fade bg-dark bg-opacity-75  rounded pt-10 pb-10" id="blogcms" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Blog(cms) / Canal Dos</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-dark bg-opacity-75  rounded pt-10 pb-10">

                        <div class="card bg-dark bg-opacity-75  rounded pt-10 pb-10" style="width:29rem;">
                            <img src="/img/modal1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Blog ó CMS</h5>
                              <p class="card-text">El Blog es otro de los canales que conforman un ecosistema digital comercial y su principal funcion es el de escribir explicitamente acerca de tus productos y/o servicios para las personas prospecto sepan más acerca de por que vale más tu opción a diferencia de tu competencia.</p>
                            </div>
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item bg-dark bg-opacity-75"><a href="https://drive.google.com/file/d/1EKK_uCwttfHGBQJpFVbPI8khY_zAqmZp/view?usp=sharing" class="card-link" target="_blank">Descarga el Paquete</a></li>
                                <!--<li class="list-group-item bg-dark bg-opacity-75">A second item</li>
                                <li class="list-group-item bg-dark bg-opacity-75">A third item</li>-->
                              </ul>
                              <div class="card-body">
                                <a href="https://youtu.be/6o0OTUGrwOM" class="card-link" target="_blank">Verlo en Youtube</a>
                                <a href="https://docs.google.com/forms/d/1T5AcNSXRStpbYwswtv7oYjFa6riDPjbw7tLaIoYUKtE/edit" class="card-link" target="_blank">Encuesta</a>
                              </div>
                          </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-dark">Gracias por contactarnos</button>
                    </div>
                  </div>
                </div>
              </div>


              <button type="button" class="btn btn-dark  text-white" data-bs-toggle="modal" data-bs-target="#tiendaenlinea">
                Tienda en Linea
              </button>
              
              <!-- Modal -->
              <div class="modal fade bg-dark bg-opacity-75  rounded pt-10 pb-10" id="tiendaenlinea" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Tienda en Linea / Canal Tres</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-dark bg-opacity-75  rounded pt-10 pb-10">

                        <div class="card bg-dark bg-opacity-75  rounded pt-10 pb-10" style="width:29rem;">
                            <img src="/img/modal1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Tienda en Linea</h5>
                              <p class="card-text">Este canal es uno de los canales que las empresas adoptarón más en los ultimos 3 años de una forma reactiva ya que la temporada de cuarentena asi lo propuso, aunque en la realidad la mayoria no lo tenian planeado, para la integración y desarrollo de este canal es preciso tener un plan desarrollado si tienes dudas al respecto comunicate con nosotros....
                                <a href="https://danyveneno.github.io/tarjetadepresentacion/" class="card-link" target="_blank">Tarjeta de Presentación</a>
                              </p>
                            </div>
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item bg-dark bg-opacity-75"><a href="#0" class="card-link">Proxíma Promoción</a></li>
                                <!--<li class="list-group-item bg-dark bg-opacity-75">A second item</li>
                                <li class="list-group-item bg-dark bg-opacity-75">A third item</li>-->
                              </ul>
                              <div class="card-body">
                                <a href="https://youtu.be/HfCawjHxWwA" class="card-link" target="_blank">Verlo en Youtube</a>
                                <a href="https://docs.google.com/forms/d/1T5AcNSXRStpbYwswtv7oYjFa6riDPjbw7tLaIoYUKtE/edit" class="card-link" target="_blank">Encuesta</a>
                              </div>
                          </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-dark">Gracias por contactarnos</button>
                    </div>
                  </div>
                </div>
              </div>


              <button type="button" class="btn btn-dark  text-white" data-bs-toggle="modal" data-bs-target="#redessociales">
                Redes Sociales
              </button>
              
              <!-- Modal -->
              <div class="modal fade bg-dark bg-opacity-75  rounded pt-10 pb-10" id="redessociales" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Redes Sociales / Canal Cuatro</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-dark bg-opacity-75  rounded pt-10 pb-10">

                        <div class="card bg-dark bg-opacity-75  rounded pt-10 pb-10" style="width:29rem;">
                            <img src="/img/modal1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Redes Sociales</h5>
                              <p class="card-text">Las redes sociales como conjunto de canales ya que estos son empresas privadas que afortunada o desafortunadamente todos estamos ahi con una cuenta bueno pues hay que darles un uso que de alguna forma nos convenga ahi en redes sociales es donde estan los clientes potenciales que estamos buscando.
                                
                              </p>
                            </div>
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item bg-dark bg-opacity-75"><a href="https://drive.google.com/file/d/1EKK_uCwttfHGBQJpFVbPI8khY_zAqmZp/view?usp=sharing" class="card-link" target="_blank">Descarga el Paquete</a></li>
                                <!--<li class="list-group-item bg-dark bg-opacity-75"><a href="#0" class="card-link">Proxíma Promoción</a></li>
                                <li class="list-group-item bg-dark bg-opacity-75">A second item</li>
                                <li class="list-group-item bg-dark bg-opacity-75">A third item</li>-->
                              </ul>
                              <div class="card-body">
                                <a href="https://youtu.be/brC_U5JUAXI" class="card-link" target="_blank">Verlo en Youtube</a>
                                <a href="https://docs.google.com/forms/d/1T5AcNSXRStpbYwswtv7oYjFa6riDPjbw7tLaIoYUKtE/edit" class="card-link" target="_blank">Encuesta</a>
                              </div>
                          </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-dark">Gracias por contactarnos</button>
                    </div>
                  </div>
                </div>
              </div>


              <button type="button" class="btn btn-dark  text-white" data-bs-toggle="modal" data-bs-target="#aplichaciones">
                Aplicaciones
              </button>
              
              <!-- Modal -->
              <div class="modal fade bg-dark bg-opacity-75  rounded pt-10 pb-10" id="aplichaciones" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Aplicaciones / Canal Cinco</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-dark bg-opacity-75  rounded pt-10 pb-10">

                        <div class="card bg-dark bg-opacity-75  rounded pt-10 pb-10" style="width:29rem;">
                            <img src="/img/modal1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Aplicaciones</h5>
                              <p class="card-text">Este canal es uno de los que estan teniendo más auge en la actualidad. ademas de ser uno de los que mas variables tienen para ser integrados y desarrolladso para tus productos y/o servicios ya que tiene que ver:
                                <strong>Sistema Operativo | Movíl ó Escritorio | Tecnologias con las cuales serán desarrolladas.</strong> y finalmente las necesidades de tu publico objetivo.
                                
                              </p>
                            </div>
                            <ul class="list-group list-group-flush ">
                                <!--<li class="list-group-item bg-dark bg-opacity-75"><a href="https://drive.google.com/file/d/1EKK_uCwttfHGBQJpFVbPI8khY_zAqmZp/view?usp=sharing" class="card-link" target="_blank">Descarga el Paquete</a></li>-->
                                <li class="list-group-item bg-dark bg-opacity-75"><a href="#0" class="card-link">Proxíma Promoción</a></li>
                                <!--<li class="list-group-item bg-dark bg-opacity-75">A second item</li>
                                <li class="list-group-item bg-dark bg-opacity-75">A third item</li>-->
                              </ul>
                              <div class="card-body">
                                <a href="https://youtu.be/KFXN73_JBDs" class="card-link" target="_blank">Verlo en Youtube</a>
                                <a href="https://docs.google.com/forms/d/1T5AcNSXRStpbYwswtv7oYjFa6riDPjbw7tLaIoYUKtE/edit" class="card-link" target="_blank">Encuesta</a>
                              </div>
                          </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-dark">Gracias por contactarnos</button>
                    </div>
                  </div>
                </div>
              </div>


              <button type="button" class="btn btn-dark  text-white" data-bs-toggle="modal" data-bs-target="#vlog">
                VideoVlog (Youtube)
              </button>
              
              <!-- Modal -->
              <div class="modal fade bg-dark bg-opacity-75  rounded pt-10 pb-10 " id="vlog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">VideoVlog / Canal Seis</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-dark bg-opacity-75  rounded pt-10 pb-10">

                        <div class="card bg-dark bg-opacity-75  rounded pt-10 pb-10" style="width:29rem;">
                            <img src="/img/modal1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">VideoVlog</h5>
                              <p class="card-text">
                                Este canal se refiere a tu canal de Youtube, solo que tiene un gran porcentaje de influencia en la descición que tomamos para adquirir algun producto y/o servicios, es por esta razón que lo tomamos como un canal especial ya que tiene un gran parecido a algo que no es ajeno y que conocemos muy bien la TV..
                                
                              </p>
                            </div>
                            <ul class="list-group list-group-flush ">
                                <!--<li class="list-group-item bg-dark bg-opacity-75"><a href="https://drive.google.com/file/d/1EKK_uCwttfHGBQJpFVbPI8khY_zAqmZp/view?usp=sharing" class="card-link" target="_blank">Descarga el Paquete</a></li>-->
                                <li class="list-group-item bg-dark bg-opacity-75"><a href="#0" class="card-link">Proxíma Promoción</a></li>
                                <!--<li class="list-group-item bg-dark bg-opacity-75">A second item</li>
                                <li class="list-group-item bg-dark bg-opacity-75">A third item</li>-->
                              </ul>
                              <div class="card-body">
                                <a href="https://youtu.be/pC5vUgoweiA" class="card-link" target="_blank">Verlo en Youtube</a>
                                <a href="https://docs.google.com/forms/d/1T5AcNSXRStpbYwswtv7oYjFa6riDPjbw7tLaIoYUKtE/edit" class="card-link" target="_blank">Encuesta</a>
                              </div>
                          </div>
                        

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-dark">Gracias por contactarnos</button>
                    </div>
                  </div>
                </div>
              </div>


              <button type="button" class="btn btn-dark  text-white" data-bs-toggle="modal" data-bs-target="#landing">
                Paginas de Aterrizaje
              </button>
              
              <!-- Modal -->
              <div class="modal fade bg-dark bg-opacity-75  rounded pt-10 pb-10" id="landing" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Pagina de Aterrizaje / Canal Siete</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-dark bg-opacity-75  rounded pt-10 pb-10">

                        <div class="card bg-dark bg-opacity-75  rounded pt-10 pb-10" style="width:29rem;">
                            <img src="/img/modal1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Pagina de Aterrizaje</h5>
                              <p class="card-text">
                                Las paginas de aterrizaje son empleadas o se desarrollan en el transcurso de una una campaña de marketing digital que tiene una función especifica y además es eventual.
                                
                              </p>
                            </div>
                            <ul class="list-group list-group-flush ">
                                <!--<li class="list-group-item bg-dark bg-opacity-75"><a href="https://drive.google.com/file/d/1EKK_uCwttfHGBQJpFVbPI8khY_zAqmZp/view?usp=sharing" class="card-link" target="_blank">Descarga el Paquete</a></li>-->
                                <li class="list-group-item bg-dark bg-opacity-75"><a href="#0" class="card-link">Proxíma Promoción</a></li>
                                <!--<li class="list-group-item bg-dark bg-opacity-75">A second item</li>
                                <li class="list-group-item bg-dark bg-opacity-75">A third item</li>-->
                              </ul>
                              <div class="card-body">
                                <a href="https://youtu.be/GFQuV1CxhDw" class="card-link" target="_blank">Verlo en Youtube</a>
                                <a href="https://docs.google.com/forms/d/1T5AcNSXRStpbYwswtv7oYjFa6riDPjbw7tLaIoYUKtE/edit" class="card-link" target="_blank">Encuesta</a>
                              </div>
                          </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-dark">Gracias por contactarnos</button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <br>
            
               <section>

                <div class=" container pt-2 mb-100 text-center d-flex flex-wrap ">
                    
                    </div>
            </section>
        
       </main>

        <%- include('partials/footer')%>
       
    </body>
</html>