body{
    background-image: url("/img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #262626;
    color: aliceblue;
    margin: 0;
    padding: 0;
   
}
nav{
    position: relative;
    opacity: 0.8;

}
header{

    font-family: Arial, Helvetica, sans-serif;
    color: #efefef;
}
section{
    color: #efefef;
}
@media (min-width: 768px) {
    #logo{
      
       float: inline-start;
    }
    
}
      

footer{
    position:relative;
    height:100px;
    padding-top: 40px;
    display:flex ;
    justify-content: space-around;
    opacity: .6;

}

      
@media (min-width: 768px) {
    #canaluno{

        width: 100%;
        overflow: hidden;
    }
         
    
}
      
@media (min-width: 768px) {
     #jvimg{

        width: 100%;
        overflow: hidden; 
     }
}

a{
    text-decoration: none;
    color: #efefef;   

}
#js-particles{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
   
}
#about{
    font-size: larger;
    padding: 10px 10px 10px 10px;
}
.service{
    position: relative;
}
#service{
    font-size: larger;
    padding: 10px 10px 10px 10px;
    color: #efefef;

}
.modal-title{
    color: #161616;
}

.backvideo{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*
    height: 120vh;*/
    overflow: hidden;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;



}
@media (min-aspect-ratio: 16/9) {
     .backvideo{
        width: 100%;
        height: auto;
        
     } 
}
@media (max-aspect-ratio: 16/9) {
    .backvideo{
       width: auto;
       height: 100%;
       
    } 
}


.overlay{
    /*background-color: rgba(22, 22, 22, 0.615);*/
    background-color: #161616;
    opacity: .6;
    position: fixed;
    width: 100%;
    height: 120vh;
    top: 0;
    left: 0;
    z-index: -1;


}

@media (min-aspect-ratio: 16/9) {
    .overlay{
       width: 100%;
       height: 100%;
       
    } 
}
@media (max-aspect-ratio: 16/9) {
   .overlay{
      width: 100%;
      height: 100%;
      
   } 
}



