body{
    background-image: url("/img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*background-color: #262626;
    color: aliceblue;*/
   
}
nav{
    position: relative;
    opacity: 0.8;

}
header{

    font-family: Arial, Helvetica, sans-serif;
    color: #efefef;
}
section{
    color: #efefef;
}
@media (min-width: 768px) {
    #logo{
      
       float: inline-start;
    }
    
}
      

footer{
    position:relative;
    height:100px;
    padding-top: 40px;
    display:flex ;
    justify-content: space-around;
    opacity: .6;

}

      
@media (min-width: 768px) {
    #canaluno{

        width: 100%;
        overflow: hidden;
    }
         
    
}
      
@media (min-width: 768px) {
     #jvimg{

        width: 100%;
        overflow: hidden; 
     }
}

a{
    text-decoration: none;
    color: #efefef;   

}
#js-particles{
    z-index: -1;
    position: absolute;
    width: 18%;
    height: 80vh;
}
#about{
    font-size: larger;
    padding: 10px 10px 10px 10px;
}
.service{
    position: relative;
}
#service{
    font-size: larger;
    padding: 10px 10px 10px 10px;
    color: #efefef;

}
.modal-title{
    color: #161616;
}



